<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">百度电影搜索风云榜</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <%
                            movies.forEach(function(movie){%>
                            <li class="list-group-item"><a href="<%=movie.url%>"><%=movie.name%></a></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>